* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* menu 1 started */
header .menu1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 86, 42);
}

header .menu1 a {
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
    color: white;
}

/* second menu started */

.hide-menu {
    width: 50% !important;
    position: fixed;
    background-color: #343434;
    top: 10%;
    right: -50%;
    display: flex;
    flex-direction: column;
    transition: all 1s linear;
    font-size: 18px;
    color: white;
    padding: 20px;
}

.mnu{
    background: #343434;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content{
    display: none;
}
.mnu a{
    display: inline-block;
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding: 10px 30px;
    background-color: transparent !important;
    border-bottom: 1px solid #f18930;
    border-radius: 10px;
}

.web-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #343434;
    color: white;
    padding: 3% 2%;
}
.web-layout .we-lf,.web-layout .we-rt{
    width: 48%;
}

.logos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #343434;
}

.logos .log-bx{
    width: 32%;
    /* height: 200px; */
    margin: 10px 0px;
}
.logos .log-bx img{
    width: 100%;
    height: inherit;
}
.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    background: #343434;
}

.banner .ban-box{
    width: 32%;
    margin: 10px 0px;
}

.banner .ban-box img{
    width: 100%;
    border-radius: 5px;
}
.flayer{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
}
.fl-data{
    width: 90%;
}
.fl-data p{
    margin: 20px 0px;
}
.fl-img{
    width: 48%;
    margin: 0 auto;
}
.fl-img img{
    width: 50%;
    height: inherit;
}

/* intro started */
.intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-lf {
    width: 35%;
}

.intro-rt {
    width: 55%;
}

.intro-rt img {
    width: 100%;
    height: inherit;
}

.intro-lf h2 {
    font-size: 30px;
    line-height: 45px;
    padding: 10px;
    color: #702c91;
}

.intro-lf p {
    font-size: 15px;
    line-height: 25px;
    padding: 10px;
}

/* services */
.services {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.services-lf {
    width: 48%;
}

.services-lf img {
    width: 100%;
    height: inherit;
}

.services-rt {
    width: 48%;
}

.services-rt h2 {
    font-size: 30px;
    line-height: 35px;
    color: #702c91;
    /* text-align: center; */
    padding: 10px;

}

.services-rt .src {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-rt .src .src-lf {
    width: 15%;
}

.services-rt .src .src-lf img {
    width: 100%;
    /* height: inherit; */
}

.services-rt .src .src-rt {
    width: 75%;
    padding: 10px;
}
.src .src-rt span {
    font-size: 25px;
    line-height: 35px;
    padding: 10px;
    font-weight: 600;
    color: #da178c;
}
.src .src-rt p {
    font-size: 14px;
    line-height: 25px;
    padding: 10px;
}
.src .src-rt span:hover {
    color: #702c91;
}
/* about */
.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.about .about-lf {
    width: 48%;
}
.about .about-rt {
    width: 48%;
}
.about .about-rt img {
    width: 100%;
    height: inherit;
    border-radius: 10%;
}
.about .about-lf h2 {
    font-size: 35px;
    line-height: 45px;
    padding: 20px;
}
.about .about-lf p {
    font-size: 14px;
    line-height: 25px;
    padding: 10px;
    word-spacing: 3px;
    text-transform: capitalize;
}
/* Contact Us */
.line {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    padding: 10px;
    color: white;
    margin: 5% 2%;
    border-radius: 14px;
}
.line .get {
    width: 55%;
    padding: 10px;
}
.line .get span {
    font-size: 15px;
    text-transform: capitalize;
    padding: 20px;
}
.line .get p {
    font-size: 24px;
    line-height: 45px;
    text-transform: uppercase;
    padding: 20px;
}
.btn {
    width: 25%;
}
.line .btn a{
    border: 1px solid white;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    
}
/* footer started */
footer {
    background: #343434;
    padding-top: 50px;
    color: white;
    text-align: center;
}
footer a 
{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content {
    width: 33.3%;
    margin: 30px 0px;
}
h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p {
    margin: auto;
    padding: 7px;
}
.footer-content ul {
    text-align: center;
}
.list {
    padding: 0;
}
.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    background: #f18930;
    transition-duration: .5s;
}
.social-icons {
    text-align: center;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i {
    color: white;
    font-size: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    color: #f18930;
}
.social-icons i:hover {
    color: #f18930;
}
.bottom-bar {
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p {
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
/* Responsive design */
@media screen and (max-width : 950px) {
    #bar{
        display: block;
    }
    
    .hide-menu a{
        text-decoration: none;
        color: white;
        font-size: 14px;
        display: inline-block;
        margin: 5px 0px;
    }
    .intro{
        width: 100%;
    }
    .intro-lf p{
        display: none;
    }
    .intro-lf h2{
        font-size: 25px;
    }
    .services-rt.src{
        display: flex;
        flex-direction: column;
    }
    .src .src-rt span{
        font-size: 22px;
    }
    .services-rt h2{
        font-size: 30px;
    }
    
}
@media screen and (max-width : 680px){
    .mnu a{
        font-size: 10px !important;
        padding: none;
        background-color: transparent !important;
        border-bottom: 1px solid #f18930;
    }
    .intro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .intro-lf{
        width: 98%;
    }
    .intro-rt{
        width: 98%;
    }
    .services{
        flex-direction: column-reverse;
    }
    .services .services-lf{
        /* display: none; */
        width: 90%;
        margin:  0 auto;
    }
    .services .services-rt{
        width: 100%;
    }
    .services .services-rt .src{
        flex-direction: column;
        text-align: center;
        margin: 20px 0px;
    }
    .services-rt h2{
        text-align: center;
    }
    .about{
        flex-direction: column;
    }
    .about .about-lf{
        width: 98%;
        margin-bottom: 20px;
    }
    .about .about-rt{
        width: 98%;
    }
    .about .about-lf h2 {
        font-size: 25px;
    }
    .experts{
        flex-direction: column;
    }
    .experts .experts-lf{
        width: 98%;
        margin-bottom: 20px;
    }
    .experts .experts-rt{
        width: 98%;
    }
    .text{
        display: none;
    }
    .line{
        flex-direction: column;
    }
    .line .get{
        width: 100%;
        text-align: center;
    }
    .line .get p{
        font-size: 18px;
        padding: 5px;
    }
    .line .btn {
        width: fit-content;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .footer-content{
        flex-direction: column;
        width: 100%;
    }
    .web-layout{
        flex-direction: column;
    }
    .web-layout .we-lf,.web-layout .we-rt{
        width: 100% !important;
        margin: 10px 0px;
    }
}


